doctype html
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='Glass Memory - производство памятников из стекла')
        meta(name='author', content= "Aldo Media")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= 'Glass Memory - производство памятников из стекла'
        != css()
        <noindex><script async src="data:text/javascript;charset=utf-8;base64,ZnVuY3Rpb24gbG9hZHNjcmlwdChlLHQpe3ZhciBuPWRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoInNjcmlwdCIpO24uc3JjPSIvL2xwdHJhY2tlci5ydS9hcGkvIitlO24ub25yZWFkeXN0YXRlY2hhbmdlPXQ7bi5vbmxvYWQ9dDtkb2N1bWVudC5oZWFkLmFwcGVuZENoaWxkKG4pO3JldHVybiAxfXZhciBpbml0X2xzdGF0cz1mdW5jdGlvbigpe2xzdGF0cy5zaXRlX2lkPTIzMjY2O2xzdGF0cy5yZWZlcmVyKCl9O3ZhciBqcXVlcnlfbHN0YXRzPWZ1bmN0aW9uKCl7alFzdGF0Lm5vQ29uZmxpY3QoKTtsb2Fkc2NyaXB0KCJzdGF0c19hdXRvLmpzIixpbml0X2xzdGF0cyl9O2xvYWRzY3JpcHQoImpxdWVyeS0xLjEwLjIubWluLmpzIixqcXVlcnlfbHN0YXRzKQ=="></script></noindex>

body#main-page
    block content


    //- <!--[if lt IE 9]>
    //- <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    //- <script src="js/polyfill/ie-love.js"></script>
    //- <![endif]-->
    //- <!--[if gt IE 8]><!-->
    //- <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    //- <!--<![endif]-->

    != js()