section.g-sec#price
	.g-center
		header.g-sec_h
			h2 Почему с нами выгодно? <br />Посмотрите наши цены:
		.g-in-sec
			.g-column
				.descr-ftb
					h3 Стандратная накладка 400x800 мм
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.
					.price-word Цена в рублях
					.price-box 6500 
					.g-c-uw: a.g-btn(href="#") Купить

			.g-column
				//- img.icon-ftb(src="/img/create_web-features.png", alt="")
				//- .sep-ftp
				.descr-ftb
					h3 Фасонная накладка 800x400 мм
					p Так же распространённая накладка...
					.price-word Цена в рублях
					.price-box 8500 
					.g-c-uw: a.g-btn(href="#") Купить
			.g-column
				//- img.icon-ftb(src="/img/target-features.png", alt="")
				//- .sep-ftp
				.descr-ftb
					h3 Индивидуальные размеры
					p Если Вам нужно накладку с нестандартными размерами, то мы с удовольствием рассчитаем для Вас её стоимость!
					//- .price-box 8500 рублей
					.g-c-uw: a.g-btn(href="#") Узнать стоимость
			//- .g-column
				img.icon-ftb(src="/img/mobile_app-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Headline
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.
					a.al-btn(href="#") Подробнее