#header-site
	background-size: contain
	lost-flex-container column
	box-sizing border-box
	min-height 100%
	background-color #1b2b34

$min-font = 14px
$max-font = 36px
.header-top
	box-sizing border-box
	background-color #1b2b34
	lost-row 3/12 vr-block(0.5) 0
	color #fff
	t-p()
	// padding vr-block(0.5) 0
	.logoContainer
		lost-column 4/12
		lost-offset 1/12
		lost-align middle-left		
		#logo-site
			lost-flex-container column
			box-sizing border-box
			padding-top vr-block(0.5)
			display flex
			// align-items center
			text-decoration none
			font-family: 'Days One'
			font-weight 300
			color #fbd07c
			// lost-align: middle-left
			height 100% 
			.span-logo
				text-align left		
			// .descr-logo
			// 	lost-row 1/2

$min-font = 10px
$max-font = 20px
.descr-logo
	t-p()
	color #fbd07c



$min-font = 14px
$max-font = 30px
.main-nav
	lost-flex-container column
	t-p()
	lost-column 7/12
	font-family "Days One"
	color #fbd07c
	font-weight 700
	text-align right
	justify-content flex-end
	.call-to-us
		display: block
		margin-bottom: vr-block(10)
		t-p()
		color #fbd07c
		font-weight: 700
		.h-tel
			all initial
			t-p()
			font-size: calc($max-font - 10px)

	ul
		display: flex;
		width: 100%;
		justify-content: space-between
		height 100% 
		align-items center
		li
			all initial
			font-family "Days One"
			a
				all initial
				color #fff
				font-family "Days One"
				font-weight 700
				text-transform uppercase
				&:hover
					text-decoration underline
	.h_tel
		font-weight: 300
		margin-top vr-block(0.5)
	.g-c-uw
		align-items flex-end

$min-font = 10px
$max-font = 18px
.call-free
	t-p()
	color #fbd07c
	margin-top vr-block(0.5) 
	glossy-button($color: orange, $text-color: white)
	display flex
	// justify-content center
	padding vr-block(0.5)
	width 60%
	text-transform uppercase
	justify-content center
	width vr-block(17)
	
		
$min-font = 14px
$max-font = 36px
$line-height-ratio  = $golden
#utp
	lost-flex-container: column;
	box-sizing border-box
	// padding vr-block(1) 
	lost-row 9/12 0 0
	background #1b2b34
	color #fbd07c
	t-p()
	padding-top vr-block(0.5) 
	.utp_youtube
		lost-column 6/12 0 0
		lost-offset 1/12 0 0
		padding-bottom 40px 
		.video-container
			box-sizing border-box
			padding 10px
			min-width 100%
			height 100% 
			border vr-block(0.2) solid #fbd07c
			position:relative;
			padding-bottom:56.25%;
			padding-top:30px;
			height:0;
			overflow:hidden;
			iframe
			object
			embed
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
	
	.utp_text
		lost-column 5/12 0 0
		box-sizing border-box
		color #fbd07c
		padding-bottom vr-block(0.7) 
		.utp_header
			text-align left
			font-weight 700
			color #f99157
			line-height 1.2
			text-transform none
			margin-bottom vr-block(0.5) 
			span
				color #eb606b
			

$line-height-ratio  = 0.5
$min-font = 8px
$max-font = 24px
.utp_header
	t-p()
	// font-size: 36px;



// $min-font = 12px
// $max-font = 30px
// .h-tel

// 	font-size: ($max-font * 3)
	

// .h-tel
// 	// margin-bottom: vr-block(0.5)
// 	span
// 		font-size 14px 	


$line-height-ratio  = 1.3
$min-font = 10px
$max-font = 20px
.utp_descr
	font-family "Open Sans", Verdana, Tahoma, Arial, sans-serif
	t-p()
	color #fbd07c
	strong
		font-weight bold 
	
.utp_buttons
	display: flex
	width 100%
	justify-content center
	margin 40px 0 70px 0

// $min-font = 12px
// $max-font = 30px
// .tel-container
// 	lost-align middle
// 	t-p()

@import '_slider'