@lost flexbox flex

@import 'typographic'
typographic()

$min-font = 8px
$max-font = 15px

html
	all initial
	height 100% 

body
	all initial
	// lost-utility edit
	t-p()
	height 100%
	background #fff
	font-family $opensans
	color #fbd07c	

// .cf
// 	lost-utility clearfix
.g-center
	lost-center: 1140px 15px

.g-sec, .g-in-sec
	lost-flex-container row
	width 100% 


.g-sec_h
	lost-flex-container: row;
	text-align center
	width 100% 
	
	
.above-all
	position: relative
	z-index 100

h1, h2, h3
	color #666
	font-family "Days One"
	font-size 2.4em
	font-weight 700
	text-transform uppercase
	text-align center

h2
	color #b9b9b9
	font-size 30px
	margin 71px auto 57px auto
	text-align center
	
h3
	font-size 18px
	text-align left
	
.g-ftb
	lost-flex-container: column;
	lost-column 3/12 0 0

.g-c-uw
	lost-flex-container: column;
	width 100%
	justify-content center

$min-font = 10px
$max-font = 18px
.g-btn
	all initial
	border-radius 10px
	font-family "Days One"
	t-p()
	// padding 18px 28px
	padding vr-block(0.5)
	color white
	margin-top vr-block(1) 
	font-weight 700
	text-transform uppercase
	text-align center

.g-btn_learn-more
	border 5px solid #fbd07c
	background #3D9970
	color #fbd07c
	button: green 'large'
.g-btn_call_back
	border 2px solid #5fc79a

.g-utp_buttons-between
	display block
	color white
	font-family Georgia
	font-size 36px
	font-style italic
	margin 0 12px