section#how-we-work
	.g-center
		.g-sec_h
			h2 Это простой монтаж накладки
		.g-in-sec
			.g-column
				img.steps-inst.install-steps_1(src="/img/install-steps_1.png", alt="Монтаж стеклянной накладки на надгробный памятник. Было")
				.descr-ftb
					h3 Стандартная накладка
					p Это стандартная накладка размером 400X800 мм
					.price-box 6500 рублей
					a.g-btn(href="#") Заказать
			.g-column
				img.steps-inst.install-steps_2(src="/img/install-steps_2.png", alt="Монтаж стеклянной накладки на надгробный памятник. В процессе монтажа")
				.descr-ftb
					h3 Headline
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.
					.price-box 6500 рублей
					a.g-btn(href="#") Заказать
			.g-column
				img.steps-inst.install-steps_3(src="/img/install-steps_3.png", alt="Монтаж стеклянной накладки на надгробный памятник. Стало")
				.descr-ftb
					h3 Headline
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.
					a.g-btn.g-btn_learn-more(href="#") Заказать
