section#utp
	clear.g-center
		.utp_youtube
			.video-container
				<iframe id="main-video" width="560" height="315" src="https://www.youtube.com/embed/tIIVMFvWBbQ" frameborder="0" allowfullscreen></iframe>
			.g-c-uw: a.g-btn.g-btn_learn-more(href="#") Закажите обратный звонок
			.g-c-uw: a.g-btn.g-btn_learn-more(href="#") Узнайте подробнее
			span.g-utp_buttons-between или
			.g-c-uw: a.g-btn.g-btn_call_back(href="#")
				| Позвоните нам прямо сейчас

		.utp_text
			//- h1.utp_header Реставрация надгробных памятников высокопрочным стеклом стоимостью до 7000 рублей и всего за 7 дней!

			h1.utp_header Как заработать 30000 рублей на РЕСТАВРАЦИИ ПАМЯТНИКОВ высокопрочным стеклом за 3 недели?

			//- p.utp_descr Хотели бы Вы за минимально возможную цену заказать долговечную и красивую реставрацию памятника? А хотели бы САМОСТОЯТЕЛЬНО качественно и красиво реставрировать памятники на заказ? Всё это возможно c Glass Memory!
			p.utp_descr Это реально и вполне легко с Glass Memory! Мы научим Вас этому и самое главное обеспечим высококачественными материалами по самой низкой цене! Ведь мы - производство, а не посредники...
			.utp_buttons
				a.g-btn.g-btn_learn-more(href="#") Узнайте подробнее из видео
				span.g-utp_buttons-between или
				a.g-btn.g-btn_call_back(href="#") Закажите обратный звонок