.header-top
	.g-center
		.logoContainer
			a#logo-site(href="#")
				span.span-logo Glass memory
				span.descr-logo Производство памятников из стекла
		.main-nav
			span.h_tel <span>Позвоните нам:</span> 8-800-777-77-77
			a.call-free(href="#") Или Закажите обратый звонок


//- .main-phone-number
//- 	.g-center
//- 		.tel-container 
//- 			strong 8-800-777-77-77
