.header-top
	.g-center
		.logoContainer
			a#logo-site(href="#")
				span.span-logo Glass memory
				span.descr-logo Производство памятников из стекла
		.main-nav
			.call-to-us Позвоните нам: <span class="lptracker_phone h_tel">+7 (800) 333-84-17</span>
			//- span.lptracker_phone.h_tel 
			.g-c-uw: a.call-free(href="#lptracker") Или Закажите обратый звонок


//- .main-phone-number
//- 	.g-center
//- 		.tel-container 
//- 			strong 8-800-777-77-77