.header-top
	.g-center
		.g-column.logoContainer
			a#logo-site(href="#")
				span.span-logo Glass memory
				span.descr-logo Производство памятников из стекла
		.g-column.main-nav
			.call-to-us Позвоните нам: <span class="lptracker_phone h_tel">+7 (800) 333-84-17</span>
			.g-c-uw: a.call-free(href="#lptracker", onclick="lstats.reachGoal('Header_callback_button'); return true;") Или Закажите обратый звонок <span class="hand-icons">&nbsp;</span>